@media only screen and (min-width: 60em){
    h1 {
        font-size: 50px;
    }
    main {

        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    }
    header, footer{
        border-radius: 25px;   
    }
    header, main, footer {
        max-width: 900px;
    }
    section a {
        display: block;
        font-family: 'Nunito Sans', sans-serif;
        padding: 1rem;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    section a:hover {
        color: aliceblue;
        font-weight: 500;
        font-size: 20.5px;
        transition: 0.3s;
    .curre
    }

