@media only screen and (min-width: 37.2em){
    main {
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10px;
}
    }
    header, footer{
        border-radius: 25px;   
}
    section img {
        width: 100%;

    }
    