body {
    font-family : "koulen", sans-serif;
    font-size : 16px;
    line-height : 1.5;
    }
header, main, footer {
    margin : 1.25em auto;
    max-width : 1200px;
    text-align: center;
    }
h1 {
    padding : 1rem;
    font-size : 1.5rem;
    color : black;
    text-shadow : 2px 2px rgb(255, 246, 136);
    text-align : center;
    align-items : center;
}
h2 {
    font-size : 1.5rem;
    color : black;
    text-shadow : 2px 2px #e3f6f5;
    }
header {
    padding : 1.2rem;
    margin-bottom : 0;
    }
footer {
    padding : 1rem;
    text-align : center;
    background-color : rgb(108, 198, 228);
    color : white;
    border-radius : 10px;
    }
main {
    margin-top : 0;
    padding-top : 0;
    padding : 1rem;
    }
nav button {
    margin : 1rem;
    background : rgb(255, 246, 136);
    border : none;
    position: relative;
    font-size : 2rem;
    color : rgb(186, 11, 58);
    }
nav {
    
    position : sticky;
    top : 0;
    z-index : 100;
    display: flex;
    flex: 1 1 auto;
    }
nav ul {
    display : none;
    padding : 0;
    list-style-type : none;
    background-color: rgb(20, 7, 104);
    width: 100%;
    }
#mainnav li{
    margin-left : 0;
    margin-right : 0;
    flex: 1 1 auto;
    
    }
nav ul li a {
    padding-left : 1rem;
    display : block;
    text-decoration : none;
    color : rgb(255, 246, 136);
    font-size : 0.95rem;
    
    }
nav ul.open {
    display : block;
    }
#hamburger span:nth-child(1) {
    display : block;
    }
#hamburger span:nth-child(2) {
    display : none;
    }
#hamburger.open span:nth-child(1) {
    display : none;
    }
#hamburger.open span:nth-child(2) {
    display : block;
    }

video {
    pointer-events: none;
    width: 320px;
    height: 240px;
  }
footer {
    padding : 1rem;
    text-align : center;
    background-color : rgb(20, 7, 104);
    color : white;
    border-radius : 10px;
}
/*Class Selectors*/
.main-grid {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    grid-gap: 3rem;
    align-items: center;
    
}
.others ul li {
    text-align: left;
    padding : 0;
    list-style-type : none;
    

}
.others-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*weather*/
#weather{
    align-items: center;
    padding: 1rem;
    
}
#weather img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
main section.item {
    border-radius : 5px;
    background-color :rgb(19, 141, 222);
    color : rgb(20, 7, 104);
    margin : 0.5rem;
    padding : 0;
    min-height : 10rem;
    
    }
    #centered p {
        font-size: 60px;
        font-weight: 800;
    } 
    #centered button {
        border-radius: 1rem;
        background-color: rgb(20, 7, 104);
        color: #e3f6f5;
    } 
    #centered button:hover {
        transition: 0.2s;
        border-radius: 1rem;
        background-color: rgb(163, 163, 163);
        color: #e3f6f5;
    } 
    #weather-desc, #weather-data {
        font-size: 15px;
        font-weight: 800;
    }
    html {
        scroll-behavior: smooth;
       }
    #scrolldown {
        display: block;
        
    }

    /*    reservation   */
#form-reservation fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
#form-reservation legend{
    color:#445ba9;
    font-weight: 800;
    margin-left: 1rem;
    text-align: left;
    padding: 0 .5rem;
}
#form-reservation label.lbl{
    display:block;
    padding-top: .8rem;
    font-weight: 600;
    text-align: left;
}
#form-reservation label.lbl input, #form-reservation label.lbl textarea, 
#form-reservation label.lbl select{
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #999;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: var(--secondary-color);
}
#form-reservation label.radio{
    display: block;
    padding: .75rem 0;
    text-align: left;
    font-weight: 600;
}
#form-reservation label.lbl input:required {
    border-left: solid 6px rgb(1, 0, 69);  
}
#form-reservation label.lbl input:required:valid{
    border-left: solid 6px rgb(0, 100, 128);  
}
#form-reservation label.lbl-desc input{
    padding: 3rem;
}
#form-reservation{
    max-width: 29rem;
    margin: auto;
    margin-bottom: 2rem;
    align-items: center;
}
#sec-reservation{
    min-height: 8rem;
    margin-bottom: 4rem;
}
.button-reservation{
    margin: 2rem 0;
    position:relative;
    padding: 0 5% 0 5%;
}

.tks-sec{
    margin-top: 1rem;
    align-items: center;
    padding: 5rem 0;
}
#form-reservation label.tks-join{
    font-size: 40px;
    margin-top: 2rem;
    color: #4962a5;
}

/*  thankyou.html  */ 
#tks{

    margin: 3rem 0;
}
/* footer Css */

.f-wrapper{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 0 2px 12px rgb(92, 88, 88);
}
.f-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
}
.address{
    min-width: 50%;
}
.contact{
    min-width: 25%;
    padding-top: 1rem;
    font-size: .8rem;
}
.f-wrapper img{
    max-height: 30px;
}
.copyright{
    margin: 3rem 0;
}
.copyright p{
    background-color: var(--txt-color);
    width: 50%;
    margin: auto;
    border-radius: 3px;
}
#mainDiv {
    display: grid;
    grid-gap: 1rem;
    
}
#mainDiv img{
    max-width: 350px;
    margin-top: 1rem;
}
#mainDiv a{
    padding: 0.5rem;
    max-width: 200px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(108, 198, 228);
    color: rgb(20, 7, 104);
}
#mainDiv a:hover{
    transition: 0.5s;
    background-color: rgb(20, 7, 104);
    color: rgb(108, 198, 228);
}
.reservation-button img{
    max-width: 300px;
    max-height: 400px;
}
.reservation-button {
    background-color: rgb(185, 232, 248);
    padding: 1rem;
    display: block;
    align-content: center;
}
.reservation-button a{
    padding: 0.5rem;
    max-width: 200px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(108, 198, 228);
    color: rgb(20, 7, 104);
}
.reservation-button a:hover{
    transition: 0.5s;
    background-color: rgb(20, 7, 104);
    color: rgb(108, 198, 228);
}
.reservation-button p{
    flex-direction: right;
}








      
      
      
      